<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SysJobMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="SysJobMap" type="entity.SysJob">
                <id column="id" property="id"/>
                <result column="job_name" property="jobName"/>
                <result column="job_group" property="jobGroup"/>
                <result column="invoke_target" property="invokeTarget"/>
                <result column="cron_expression" property="cronExpression"/>
                <result column="misfire_policy" property="misfirePolicy"/>
                <result column="concurrent" property="concurrent"/>
                <result column="status" property="status"/>
                <result column="remark" property="remark"/>
                <result column="create_time" property="createTime"/>
                <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询列 -->
    <sql id="SysJobList">
        id, job_name, job_group, invoke_target, cron_expression, misfire_policy, concurrent, status, remark, create_time, update_time
    </sql>

    <!-- 通用条件列 -->
    <sql id="SysJobBy">
                <if test="jobName != null and jobName != ''">
                    AND job_name = #{jobName}
                </if>
                <if test="jobGroup != null and jobGroup != ''">
                    AND job_group = #{jobGroup}
                </if>
                <if test="invokeTarget != null and invokeTarget != ''">
                    AND invoke_target = #{invokeTarget}
                </if>
                <if test="cronExpression != null and cronExpression != ''">
                    AND cron_expression = #{cronExpression}
                </if>
                <if test="misfirePolicy != null and misfirePolicy != ''">
                    AND misfire_policy = #{misfirePolicy}
                </if>
                <if test="concurrent != null and concurrent != ''">
                    AND concurrent = #{concurrent}
                </if>
                <if test="status != null and status != ''">
                    AND status = #{status}
                </if>
                <if test="remark != null and remark != ''">
                    AND remark = #{remark}
                </if>
                <if test="createTime != null and createTime != ''">
                    AND create_time = #{createTime}
                </if>
                <if test="updateTime != null and updateTime != ''">
                    AND update_time = #{updateTime}
                </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="SysJobSet">
                <if test="jobName != null and jobName != ''">
                    job_name = #{jobName}
                </if>
                <if test="jobGroup != null and jobGroup != ''">
                    job_group = #{jobGroup}
                </if>
                <if test="invokeTarget != null and invokeTarget != ''">
                    invoke_target = #{invokeTarget}
                </if>
                <if test="cronExpression != null and cronExpression != ''">
                    cron_expression = #{cronExpression}
                </if>
                <if test="misfirePolicy != null and misfirePolicy != ''">
                    misfire_policy = #{misfirePolicy}
                </if>
                <if test="concurrent != null and concurrent != ''">
                    concurrent = #{concurrent}
                </if>
                <if test="status != null and status != ''">
                    status = #{status}
                </if>
                <if test="remark != null and remark != ''">
                    remark = #{remark}
                </if>
                <if test="createTime != null and createTime != ''">
                    create_time = #{createTime}
                </if>
                <if test="updateTime != null and updateTime != ''">
                    update_time = #{updateTime}
                </if>
    </sql>

    <!-- 通用查询 -->
    <sql id="selectSysJobVo">
        select id, job_name, job_group, invoke_target, cron_expression, misfire_policy, concurrent, status, remark, create_time, update_time from sys_job
    </sql>

    <!-- 查询表sys_job所有信息 -->
    <select id="selectAllSysJob" resultMap="SysJobMap">
        SELECT
        <include refid="SysJobList"/>
        FROM sys_job
    </select>

            <!-- 根据主键id查询表sys_job信息 -->
            <select id="selectSysJobByid" resultMap="SysJobMap">
                SELECT
                <include refid="SysJobList"/>
                FROM sys_job
                WHERE id = #{id}
            </select>

    <!-- 根据条件查询表sys_job信息 -->
    <select id="selectSysJobByCondition" resultMap="SysJobMap">
        SELECT
        <include refid="SysJobList"/>
        FROM sys_job
        WHERE 1=1
        <include refid="SysJobBy"/>
    </select>

            <!-- 新增表sys_job信息 -->
            <insert id="insertSysJob">
                INSERT INTO sys_job (
                    id
                    ,job_name
                    ,job_group
                    ,invoke_target
                    ,cron_expression
                    ,misfire_policy
                    ,concurrent
                    ,status
                    ,remark
                    ,create_time
                    ,update_time
                ) VALUES (
                    #{id}
                    ,#{jobName}
                    ,#{jobGroup}
                    ,#{invokeTarget}
                    ,#{cronExpression}
                    ,#{misfirePolicy}
                    ,#{concurrent}
                    ,#{status}
                    ,#{remark}
                    ,#{createTime}
                    ,#{updateTime}
                )
            </insert>

            <!-- 根据主键id更新表sys_job信息 -->
            <update id="updateSysJobByid" parameterType="entity.SysJob">
                UPDATE sys_job
                <set>
                    <include refid="SysJobSet"/>
                </set>
                WHERE
                id=#{id}
            </update>

            <!-- 根据主键id删除表sys_job信息：慎用！！！ -->
            <delete id="deleteSysJobByid">
                DELETE FROM
                sys_job
                WHERE id=#{id}
            </delete>
</mapper>
