# Core 开发环境配置
debug: true

# Core 日志
logging:
  charset:
    console: UTF-8
    file: UTF-8
  level:
    root: info
    com.cc: debug
    org.springframework: error
  file:
    path: ./logs/
    name: logs/logs.log

# Core
server:
  # 服务器的HTTP端口，默认为80
  port: 8080
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 1000
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# Core Spring 配置
spring:
  application:
    name: serve
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/serve?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
    username: root
#    password: Admin123
#    password: root123456
    password: root1234
    # 连接池配置：https://github.com/alibaba/druid/wiki
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      # password-callback-class-name: com.cc.serve.config.DruidCustomPasswordCallback
      # 初始化时建立物理连接的个数。默认0
      initial-size: 5
      # 最大连接池数量，默认8
      max-active: 50
      # 最小连接池数量
      min-idle: 5
      # 获取连接时最大等待时间，单位毫秒
      max-wait: 600000
      # 保持空闲连接不被关闭的最小生存时间（单位：毫秒）
      min-evictable-idle-time-millis: 300000
      # 是否缓存preparedStatement，也就是PSCache。PSCache对支持游标的数据库性能提升巨大，比如说oracle。在mysql下建议关闭
      pool-prepared-statements: false
      # 要启用PSCache，必须配置大于0，当大于0时，poolPreparedStatements自动触发修改为true。在Druid中，不会存在Oracle下PSCache占用内存过多的问题，可以把这个数值配置大一些，比如说100
      max-pool-prepared-statement-per-connection-size: -1
      # 开启后会影响性能
      test-on-borrow: false
      # 检测归还连接时的有效性
      # 开启后会影响性能
      test-on-return: false
      # 检测空闲连接
      # 不影响性能，建议开启
      test-while-idle: true
      # 检测关闭空闲连接的时间间隔（单位：毫秒）
      time-between-eviction-runs-millis: 60000
      # 为空则test-while-idle、test-on-borrow、test-on-return配置失效
      validation-query: SELECT 1
      # 检测连接是否有效的超时时间
      validation-query-timeout: 1
      # 启用Druid内置的Filter，会使用默认的配置。可自定义配置，见下方的各个filter节点
      stat-view-servlet:
        enabled: true
        allow: 127.0.0.1
        login-username: admin
        login-password: 123456
        url-pattern: /druid/*
        reset-enable: false
      web-stat-filter:
        enabled: true
        url-pattern: /*
        exclusions: '*.js,*.css,*.gif,*.jpg,*.png,*.ico,/druid/*'
        session-stat-enable: true
        session-stat-max-count: 100
        principal-session-name: userName
        principal-cookie-name: userName
        profile-enable: true
      filters: stat,wall,log4j,slf4j
      filter:
        config:
          enabled: true
        slf4j:
          enabled: true
        stat:
          enabled: true
          merge-sql: true
          slow-sql-millis: 5000
        wall:
          enabled: true
          config:
            select-allow: true
            delete-allow: false
            create-table-allow: false
  security:
    user:
      name: admin
      password: 123456
  # 日志入库
  aop:
    auto: true
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  servlet:
    # 文件上传
    multipart:
      # 单个文件大小
      max-file-size: 10MB
      # 设置总上传的文件大小
      max-request-size: 20MB
  devtools:
    restart:
      # 服务模块 热部署开关
      enabled: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

# MyBatis-plus 配置
mybatis-plus:
  # 搜索指定包别名
  type-aliases-package: com.cc.serve.**.entity
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapper-locations: classpath*:mapper/**/*.xml
  # 加载全局的配置文件
  #  config-location: classpath:mybatis-config.xml
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: partial
    auto-mapping-unknown-column-behavior: warning
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  global-config:
    banner: true
    db-config:
      id-type: auto

# Redis 配置
application:
#  redis:
#    host: localhost
#    port: 6380
#    pass: pass
  security:
    jwt:
      secret: 7edeedb12066a811f92a3ade3d68ded679d92bf43fe448f155ae0748ee640e85
      expirat:  604800000 # 30天，ms为单位
      refresh:
        expirat: 2592000000 # 7 days

# PageHelper分页插件
pagehelper:
  # 数据库方言
  helper-dialect: mysql
  # 分页参数合理化
  reasonable: true
  # 支持通过Mapper接口参数来传递分页参数
  support-methods-arguments: true
  # 配置totalCount的sql转换，不配置会自动检测
  params: count=countSql

# Swagger配置
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    # 访问 UI 自动跳转到 swagger 种
    path: /api
    tags-sorter: alpha
    operations-sorter: alpha
  packages-to-scan: com.cc.serve.controller, com.cc.serve.entity
