<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SysPostMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="SysPostMap" type="com.cc.server.entity.system.SysPost">
            <id column="id" property="id" />
            <result column="code" property="code" />
            <result column="name" property="name" />
            <result column="sort" property="sort" />
            <result column="status" property="status" />
            <result column="create_by" property="createBy" />
            <result column="create_time" property="createTime" />
            <result column="update_by" property="updateBy" />
            <result column="update_time" property="updateTime" />
            <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询列 -->
    <sql id="SysPostList">
        id, code, name, sort, status, create_by, create_time, update_by, update_time, remark
    </sql>

    <!-- 通用条件列 -->
    <sql id="SysPostBy">
            <if test="code != null and code != ''">
                AND code = #{code}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="sort != null and sort != ''">
                AND sort = #{sort}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="createBy != null and createBy != ''">
                AND create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                AND create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                AND update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                AND update_time = #{updateTime}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="SysPostSet">
            <if test="code != null and code != ''">
                code = #{code}
            </if>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="sort != null and sort != ''">
                sort = #{sort}
            </if>
            <if test="status != null and status != ''">
                status = #{status}
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                update_time = #{updateTime}
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark}
            </if>
    </sql>

    <!-- 通用查询 -->
    <sql id="selectSysPostVo">
        select id, code, name, sort, status, create_by, create_time, update_by, update_time, remark from sys_post
    </sql>

    <!-- 查询表sys_post所有信息 -->
    <select id="selectAllSysPost" resultMap="SysPostMap">
        SELECT
        <include refid="SysPostList"/>
        FROM sys_post
    </select>

    <!-- 根据主键id查询表sys_post信息 -->
    <select id="selectSysPostById" resultMap="SysPostMap">
        SELECT
        <include refid="SysPostList"/>
        FROM sys_post
        WHERE id = #{id}
    </select>

    <!-- 根据条件查询表sys_post信息 -->
    <select id="selectSysPostBy" resultMap="SysPostMap">
        SELECT
        <include refid="SysPostList"/>
        FROM sys_post
        WHERE 1=1
        <include refid="SysPostBy" />
    </select>

    <!-- 新增表sys_post信息 -->
    <insert id="insertSysPost">
        INSERT INTO sys_post (
            id
            ,code
            ,name
            ,sort
            ,status
            ,create_by
            ,create_time
            ,update_by
            ,update_time
            ,remark
        ) VALUES (
            #{id}
            ,#{code}
            ,#{name}
            ,#{sort}
            ,#{status}
            ,#{createBy}
            ,#{createTime}
            ,#{updateBy}
            ,#{updateTime}
            ,#{remark}
        )
    </insert>

    <!-- 根据主键id更新表sys_post信息 -->
    <update id="updateSysPostById" parameterType="com.cc.server.entity.system.SysPost">
        UPDATE sys_post
        <set>
            <include refid="SysPostSet"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 根据主键id删除表sys_post信息：慎用！！！ -->
    <delete id="deleteSysPostById">
        DELETE FROM
        sys_post
        WHERE id=#{id}
    </delete>
</mapper>
