<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.server.mapper.system.SysUserMapper">
    <resultMap id="SysUserResult" type="SysUser">
        <id column="id" property="id"></id>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="nick_name" property="nickName"></result>
        <result column="real_name" property="real_name"></result>
        <result column="avatar" property="avatar"></result>
        <result column="email" property="email"></result>
        <result column="phone" property="phone"></result>
        <result column="sex" property="sex"></result>
        <result column="age" property="age"></result>
        <result column="address" property="address"></result>
        <result column="status" property="status"></result>
    </resultMap>

    <sql id="selectConfigVo">
        select id, user_name
        from sys_config
    </sql>

    <select id="selectByNameEmailPhone" resultType="com.cc.server.model.system.entity.SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="name != null and name != ''">
                (user_name LIKE CONCAT('%', #{name}, '%')
                OR email LIKE CONCAT('%', #{name}, '%')
                OR phone LIKE CONCAT('%', #{name}, '%'))
            </if>
        </where>
    </select>
</mapper>
